footer {
    background-color:aliceblue;
    font-family: sans-serif;
    font-size: 15px;
    width: 50%;
    color: green;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#pierwszy {
    background-color: moccasin;
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#drugi {
    background-color: darkkhaki;
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: relative;
}

#praise {
    background-color: crimson;
    width: 200px;
    left: 590px;
    position: absolute;
    top: 256px;
    font-size: 11px;
}

img {
    display: inline;
    height: 60px;
    width: 60px;
}

table, th, td {
    border: 1px solid black
}

th,td {
    padding: 6px;
}

#poster {
    display: inline;
    height: 300px;
    width: 500px;
}

#weather {
    display: inline;
    height: 340px;
    width: 500px;
}

#plane {
    display: inline-block;
    height: 400px;
    width: 600px;
}

#list {
    display: inline-block;
}

#home {
    display: block;
}

p.from_where, p.flight_time, p.passenger_no {
    font-size: large;
}

#navi{
    list-style: none;
    font-family: monospace;
}

.menu a:link, a:visited{
    color: crimson;
    text-decoration: none;
    text-transform: uppercase;
}

.cancelled {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.delaylong {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.delayshort {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-around;
}

#register {
    margin-top: 20px;
}

#register label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

#register label > span {
    float: left;
    width: 150px;
}

@media screen and (max-width:360px) {
    .main {
        flex-direction: column;
    }
    #weather {
        display: none;
    }
    #poster {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .main {
        flex-wrap: wrap;
    }
    .flex-item:not(:first-child) {
        flex: 1;
    }     
    .flex-item:nth-child(1) {
        width: 100%;
    }
    .flex-item {
        margin: 10px;
    }
}

.place {
    display: none;
}

.passenger:hover .place{
    display: initial;
}

.grid {
    display: grid;
}