footer {
    background-color:aliceblue;
    font-family: sans-serif;
    font-size: 15px;
    width: 50%;
    color: green;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#pierwszy {
    background-color: moccasin;
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#drugi {
    background-color: darkkhaki;
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: relative;
}

#praise {
    background-color: crimson;
    width: 200px;
    left: 590px;
    position: absolute;
    top: 256px;
    font-size: 11px;
}

img {
    display: inline;
    height: 60px;
    width: 60px;
}

table, th, td {
    border: 1px solid black
}

th,td {
    padding: 6px;
}

#poster {
    display: inline;
    height: 300px;
    width: 500px;
}

#weather {
    display: inline;
    height: 340px;
    width: 500px;
}

#plane {
    display: inline-block;
    height: 400px;
    width: 600px;
}

#list {
    display: inline-block;
}

#home {
    display: block;
}

p.from_where, p.flight_time, p.passenger_no {
    font-size: large;
}

#navi{
    list-style: none;
    font-family: monospace;
}

.menu a:link, a:visited{
    color: crimson;
    text-decoration: none;
    text-transform: uppercase;
}

.cancelled {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.delaylong {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.delayshort {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

#register {
    margin-top: 20px;
}

#register label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

#register label > span {
    float: left;
    width: 150px;
}

.place {
    display: none;
}

.passenger:hover .place{
    display: initial;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }
.grid1 { grid-area: grid1; }
.grid2 { grid-area: grid2; }
.grid3 { grid-area: grid3; }

.grid1 {
    width: 200px;
}

.parent-grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "grid1 grid2 grid3"
        "footer footer footer";
    grid-gap: 15px;
}


@media screen and (min-width:360px) and (max-width:400px) {
    .parent-grid {
        display: grid;
        grid-template-areas:
            "header"
            "grid1"
            "grid2"
            "grid3"
            "footer";
        grid-gap: 15px;
    }
    #weather {
        display: none;
    }
    #poster {
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:800px) {
    .parent-grid {
        display: grid;
        grid-template-areas:
            "header header"
            "grid1 grid1"
            "grid2 grid3"
            "footer footer";
        grid-gap: 15px;
    }
}